<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>323312632683-dqv5ag5l03ms82q0lqs94uecetfrshnf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.323312632683-dqv5ag5l03ms82q0lqs94uecetfrshnf</string>
	<key>API_KEY</key>
	<string>AIzaSyBdRCe3ThDB3jBE05yCUzQ2un9B-YxoJE8</string>
	<key>GCM_SENDER_ID</key>
	<string>323312632683</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>splitwiser</string>
	<key>PROJECT_ID</key>
	<string>splitwiser-25e34</string>
	<key>STORAGE_BUCKET</key>
	<string>splitwiser-25e34.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:323312632683:ios:6fae2bc73b1405a0ce422e</string>
</dict>
</plist>